 <h3>Add New Pic</h3>
 <form id="photoForm" class="col s6">
    <input type="text" placeholder="URL" id= "photoURL">
    <input type="text" placeholder="Title" id="photoTitle">
    <input type="text" placeholder="Description" id="photoDesc">
    <input type="text" placeholder="Date" id="photoDate">
    <button id="addPhoto">Add Photo</button>
</form>
